$yellow:                #E4A01B;
$red:                   #AB1D1B;
$black:                 #000000;
$pony-black:            #2C2C2C;
$bs-negative-margin:    -15px;
$margin-bottom-med:     2rem;
$button-font-size:      20px;
$margin-sm-px:          15px;
$margin-med-px:         30px;
